/* Common and reset css starts */
:root{
    --primary-color: #000;
    --secondary-color: #8a4a35;
    --nutral-color: #f3e5d8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit", serif;
    font-weight: 400;
    background-color: var(--nutral-color);
    font-size: 16px;
    line-height: 1.9rem;
}

img{
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6{
    color: var(--secondary-color);
    font-family: "Young Serif", serif;;;
}
::marker{
    color: var(--secondary-color);
    font-weight: bold;
}
strong{
    color: #333;
}
.hr{
    /* color: #e7e7e7; */
    color:red;
    border-top: 1px solid #e7e7e7;
}
/* Common and reset css Ends */


/* Main Starts */

main{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 16px;
}

/* Main Ends */

/* omlate-receipe-image Starts */
#omlate-receipe-image > img{
    border-radius: 0.9rem;
    margin-bottom: 1.2rem;
}
/* omlate-receipe-image Ends*/

/* Omlate recipe header Starts */
.omlate-recipe__description{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: normal;
}   
/* Omlate recipe header Ends */

/* Preparation Time Starts */
.preparation-time__title{
    font-family: "Outfit", serif;
    padding-bottom: 5px;
}
.preparation-time{
    background-color: #fff7fc;
    padding: 1.7rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}
.preparation-time__list{
    padding-left: 10px;
    list-style-position:inside;
}

/* Preparation Time Ends */

/* Ingredients Starts */
.ingredients__title{
    margin-bottom: 0.9rem;
}
.ingredients__list{
    list-style-position: inside;
    padding-left: 10px;
}
/* Ingredients Ends */

/* Instructions Starts */
.instructions__title{
    margin-bottom: 0.9rem;
}
.instructions__list{
    /* list-style-position: inside; */
    padding-left: 23px;
}
.instructions__item {
    padding-left: 15px;
}
/* Instructions Ends */


/* Nutrition Starts */
.nutrition__description{
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}
.nutrition__table{
    width: 100%;
}
.nutrition__table tr {
    margin-left: 10px;
}
.nutrition__table tr td {
    border-bottom: 1px solid #e7e7e7;
    padding: 3px 30px;
}
.nutrition__table tr td strong{
    color: var(--secondary-color);
}
/* Nutrition Ends */

/* Atrribution Starts */
.attribution{
    text-align: center;
}
/* Atrribution Ends */